article {
	margin: 1em;
	padding: 1em;
	width: 20%;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 5px;
	text-align: left;
}

article:hover {
	border-color: #F53838;
}

@media screen and (max-width: 800px) {
	article {
		width: 50%;
	}
}

@media screen and (max-width: 500px) {
	article {
		width: 80%;
	}
}